# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,44.46,81,75,5.75,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,73.49,81,59,17.40,light rain
2,2,Puerto Ayora,EC,-0.7393,-90.3518,80.56,86,81,8.99,broken clouds
3,3,Qaanaaq,GL,77.4840,-69.3632,29.41,78,100,34.49,snow
4,4,Punta Arenas,CL,-53.1500,-70.9167,55.51,30,0,19.57,clear sky
5,5,Hilo,US,19.7297,-155.0900,85.28,95,100,4.61,overcast clouds
6,6,Hermanus,ZA,-34.4187,19.2345,61.81,85,100,15.70,overcast clouds
7,7,New Norfolk,AU,-42.7826,147.0587,44.10,63,99,2.35,light rain
8,8,Flinders,AU,-34.5833,150.8552,53.38,79,76,1.99,broken clouds
9,9,Kupang,ID,-10.1667,123.5833,79.34,82,61,6.49,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
preferred_cities_df.head(50)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Kupang,ID,-10.1667,123.5833,79.34,82,61,6.49,broken clouds
13,13,Aitape,PG,-3.1374,142.3475,77.36,86,94,4.90,overcast clouds
17,17,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,69,0,12.66,clear sky
23,23,Hobyo,SO,5.3505,48.5268,78.37,82,51,16.13,broken clouds
32,32,Kununurra,AU,-15.7667,128.7333,78.78,73,72,2.30,broken clouds
44,44,Nova Vicosa,BR,-17.8919,-39.3719,76.84,71,16,10.16,few clouds
45,45,Atuona,PF,-9.8000,-139.0333,76.53,74,0,13.53,clear sky
56,56,Belmonte,BR,-15.8631,-38.8828,77.05,72,44,9.80,scattered clouds
67,67,Luanda,AO,-8.8368,13.2343,77.00,78,0,8.05,clear sky
76,76,Lupiro,TZ,-8.3833,36.6667,75.06,47,96,10.04,overcast clouds
82,82,Caravelas,BR,-17.7125,-39.2481,77.13,69,31,8.52,scattered clouds
98,98,Kutum,SD,14.2000,24.6667,78.48,23,14,10.71,few clouds
107,107,Tambun,ID,-6.2641,107.0712,79.48,81,100,2.82,overcast clouds
108,108,Gorontalo,ID,0.5412,123.0595,75.18,93,49,1.92,scattered clouds
117,117,Kimbe,PG,-5.5502,150.1429,77.23,88,100,2.53,overcast clouds
118,118,Bara,NG,10.3744,10.7288,78.55,51,83,2.64,broken clouds
128,128,Kudahuvadhoo,MV,2.6708,72.8944,79.32,83,100,17.56,overcast clouds
129,129,Martapura,ID,-3.4167,114.8500,75.29,100,20,1.14,mist
133,133,Avarua,CK,-21.2078,-159.7750,78.85,69,20,17.27,few clouds
135,135,San Cristobal,VE,7.7669,-72.2250,78.98,52,100,5.39,overcast clouds
160,160,Itacare,BR,-14.2775,-38.9967,76.66,74,13,6.60,few clouds
167,167,Vila Velha,BR,-20.3297,-40.2925,78.75,76,40,11.50,scattered clouds
178,178,Puri,IN,19.8000,85.8500,77.52,82,10,4.70,clear sky
186,186,Binga,ZW,-17.6203,27.3414,77.65,31,74,1.32,broken clouds
199,199,Dingle,PH,10.9995,122.6711,77.99,87,100,8.16,overcast clouds
201,201,Guymon,US,36.6828,-101.4816,77.67,21,0,8.77,clear sky
206,206,Sao Felix Do Xingu,BR,-6.6447,-51.9950,75.49,90,93,2.42,light rain
215,215,Ambulu,ID,-8.3450,113.6058,75.24,92,92,2.59,overcast clouds
218,218,Puerto Penasco,MX,31.3167,-113.5333,75.90,66,0,18.01,clear sky
224,224,Bandarbeyla,SO,9.4942,50.8122,77.32,90,38,7.25,scattered clouds
238,238,Tabou,CI,4.4230,-7.3528,76.98,84,99,6.60,overcast clouds
239,239,Miraflores,MX,19.2167,-98.8083,76.03,37,23,3.85,few clouds
244,244,Honiara,SB,-9.4333,159.9500,78.37,82,97,2.30,overcast clouds
259,259,Georgetown,MY,5.4112,100.3354,78.24,95,40,5.75,scattered clouds
277,277,Vanimo,PG,-2.6741,141.3028,76.64,90,97,4.81,overcast clouds
278,278,Naze,JP,28.3667,129.4833,76.64,86,58,9.78,broken clouds
281,281,Vilhena,BR,-12.7406,-60.1458,77.54,69,68,4.74,broken clouds
283,283,Loreto,MX,22.2667,-101.9667,77.00,30,14,0.25,few clouds
286,286,Warri,NG,5.5167,5.7500,75.88,92,100,4.21,overcast clouds
287,287,Mogadishu,SO,2.0371,45.3438,77.65,83,78,13.78,broken clouds
289,289,Salalah,OM,17.0151,54.0924,76.28,64,96,1.63,overcast clouds
292,292,Cartagena Del Chaira,CO,1.3349,-74.8429,78.44,93,68,4.03,broken clouds
304,304,Porto Novo,BJ,6.4965,2.6036,78.58,86,100,3.91,overcast clouds
312,312,Sao Filipe,CV,14.8961,-24.4956,77.27,77,44,9.51,scattered clouds
315,315,Copiapo,CL,-27.3667,-70.3333,77.20,29,0,7.58,clear sky
316,316,Kokopo,PG,-4.3520,152.2633,77.34,77,54,4.34,broken clouds
322,322,Gweta,BW,-20.1833,25.2333,77.61,18,55,7.11,broken clouds
325,325,Teahupoo,PF,-17.8333,-149.2667,76.96,82,51,15.52,broken clouds
346,346,Sal Rei,CV,16.1833,-22.9167,76.78,73,17,14.81,few clouds
350,350,Port Blair,IN,11.6667,92.7500,79.47,82,94,1.97,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Kupang,ID,-10.1667,123.5833,79.34,82,61,6.49,broken clouds
13,13,Aitape,PG,-3.1374,142.3475,77.36,86,94,4.90,overcast clouds
17,17,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,69,0,12.66,clear sky
23,23,Hobyo,SO,5.3505,48.5268,78.37,82,51,16.13,broken clouds
32,32,Kununurra,AU,-15.7667,128.7333,78.78,73,72,2.30,broken clouds
44,44,Nova Vicosa,BR,-17.8919,-39.3719,76.84,71,16,10.16,few clouds
45,45,Atuona,PF,-9.8000,-139.0333,76.53,74,0,13.53,clear sky
56,56,Belmonte,BR,-15.8631,-38.8828,77.05,72,44,9.80,scattered clouds
67,67,Luanda,AO,-8.8368,13.2343,77.00,78,0,8.05,clear sky
76,76,Lupiro,TZ,-8.3833,36.6667,75.06,47,96,10.04,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
9            Kupang      ID     79.34       broken clouds -10.1667  123.5833
13           Aitape      PG     77.36     overcast clouds  -3.1374  142.3475
17  Arraial Do Cabo      BR     76.86           clear sky -22.9661  -42.0278
23            Hobyo      SO     78.37       broken clouds   5.3505   48.5268
32        Kununurra      AU     78.78       broken clouds -15.7667  128.7333
44      Nova Vicosa      BR     76.84          few clouds -17.8919  -39.3719
45           Atuona      PF     76.53           clear sky  -9.8000 -139.0333
56         Belmonte      BR     77.05    scattered clouds -15.8631  -38.8828
67           Luanda      AO     77.00           clear sky  -8.8368   13.2343
76           Lupiro      TZ     75.06     overcast clouds  -8.3833   36.6667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Kupang,ID,79.34,broken clouds,-10.1667,123.5833,
13,Aitape,PG,77.36,overcast clouds,-3.1374,142.3475,
17,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,
23,Hobyo,SO,78.37,broken clouds,5.3505,48.5268,
32,Kununurra,AU,78.78,broken clouds,-15.7667,128.7333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Kupang,ID,79.34,broken clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
13,Aitape,PG,77.36,overcast clouds,-3.1374,142.3475,
17,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,Pousada Porto Praia
23,Hobyo,SO,78.37,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
32,Kununurra,AU,78.78,broken clouds,-15.7667,128.7333,Hotel Kununurra
44,Nova Vicosa,BR,76.84,few clouds,-17.8919,-39.3719,Pousada Porto do Sol
45,Atuona,PF,76.53,clear sky,-9.8000,-139.0333,Villa Enata
56,Belmonte,BR,77.05,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
67,Luanda,AO,77.00,clear sky,-8.8368,13.2343,EPIC SANA Luanda
76,Lupiro,TZ,75.06,overcast clouds,-8.3833,36.6667,AFRICAN JACCANA EXECUTIVE LODGE

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

#Display data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Kupang,ID,79.34,broken clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
13,Aitape,PG,77.36,overcast clouds,-3.1374,142.3475,
17,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,Pousada Porto Praia
23,Hobyo,SO,78.37,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
32,Kununurra,AU,78.78,broken clouds,-15.7667,128.7333,Hotel Kununurra
44,Nova Vicosa,BR,76.84,few clouds,-17.8919,-39.3719,Pousada Porto do Sol
45,Atuona,PF,76.53,clear sky,-9.8000,-139.0333,Villa Enata
56,Belmonte,BR,77.05,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
67,Luanda,AO,77.00,clear sky,-8.8368,13.2343,EPIC SANA Luanda
76,Lupiro,TZ,75.06,overcast clouds,-8.3833,36.6667,AFRICAN JACCANA EXECUTIVE LODGE

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel On The Rock by Prasanthi</dd>\n<dt>City</dt><dd>Kupang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Aitape</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Halane Hotel and Restaurent</dd>\n<dt>City</dt><dd>Hobyo</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kununurra</dd>\n<dt>City</dt><dd>Kununurra</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto do Sol</dd>\n<dt>City</dt><dd>Nova Vicosa</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Monte Carmelo O Pão</dd>\n<dt>City</dt><dd>Belmonte</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>EPIC SANA Luanda</dd>\n<dt>City</dt><dd>Luanda</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>AFRICAN JACCANA EXECUTIVE LODGE</dd>\n<dt>City</dt><dd>Lupiro</dd>\n<dt>Country</dt><dd>TZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.06 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
9  -10.1667  123.5833
13  -3.1374  142.3475
17 -22.9661  -42.0278
23   5.3505   48.5268
32 -15.7667  128.7333
44 -17.8919  -39.3719
45  -9.8000 -139.0333
56 -15.8631  -38.8828
67  -8.8368   13.2343
76  -8.3833   36.6667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))